

#generator-container {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#chest-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; /* Center vertically */
}
#download-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-height: 200px; /* Justera max höjd enligt dina preferenser */
    overflow-y: auto;
}
.inventory-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(70px * 9);
}

.slot {
    width: 64px;
    height: 64px;
    margin: 1px;
    background-color: rgb(140,138,141);
    border: 2px solid rgb(43,42,44);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item-icon-chest{
    image-rendering: pixelated;
    height: 60px;
    width: 60px;
}
.item-icon-list{
    border: 2px solid rgb(43,42,44);
    background-color: rgb(140,138,141) ;
    image-rendering: pixelated;
    height: 60px;
    width: 60px;
}
.item-settings{
    margin-left: 10px;
    gap: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 10%;
}

#search-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item-list-container { 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
    max-height: calc(68px * 5); 
    justify-content: center;
    margin-right: 10px;
}

.item-list{
    width: 134px;
    display: flex;
    flex-wrap: wrap;
    max-height: calc(68px * 5); 
    flex-direction: column;
    justify-content: center;
}

#search-input {
    width: 131px;
    height: 20px;
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    border-radius: 4px;
    z-index: 1;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#item-name {
    font-weight: bold;
}

.tooltip.show {
    display: block;
}

.toolbar-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 2px;
    cursor: pointer;
    padding: 3px 6px;
}

.toolbar-button:active {
    background-color: cadetblue;
}

@font-face {
    font-family: Minecraftia;
    src: url(fonts/Minecraftia.ttf)
  }

.content-editable {
    /* Add your styling for contenteditable elements here */
    border: 1px solid #ccc;
    padding: 5px;
    min-height: 16px;
    font-size: 14px;
    color:white;
}

#style-button{
    display: flex;
    flex-direction: row;
}