
#generator-container {
    height: 99.8vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; /* Center vertically */
}

.inventory-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(68px * 9);
}



.slot {
    width: 64px;
    height: 64px;
    margin: 1px;
    background-color: #f0f0f0;
    border: 1px solid #000;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item-icon{
    image-rendering: pixelated;
    height: 60px;
    width: 60px;
}

.item-menu{
    margin-right: 5%;
    gap: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

